<script type="text/template" id="mainTemplate">
    
    <main class="site-wrapper" id="main">
          <nav class="navbar navbar-default navbar-fixed-top">
            <header class="container-fluid">
              <h1>24/7 Dunks<small>.tv</small></h1>
            </header>
          </nav>         

          <section class="container content" id="content">
            
          </section>

          <footer class="mastfoot footer" id="footer">
              <p>All Dunks, All The Time &copy; 2015 <a href="http://github.com/chrisdevwords/247dunks">Chris Edwards</a>.</p>
          </footer>

      </main>
</script>

<script type="text/template" id="imgurGif">
    <img id="dunkGif" src="<%- obj.link %>" alt="<%- obj.title %>" class="dunk-gif"/>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-default new-dunk-btn">Another Dunk?</a>
    </p>
</script>

<script type="text/template" id="imgurVideoSrc">
    <source src="<%- obj.gifv %>" type='video/gifv'>
    <source src="<%- obj.mp4 %>" type='video/mp4'>
    <source src="<%- obj.webm %>" type='video/webm'>
</script>
