<script type="text/template" id="mainTemplate">
    
    <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            
          </div>

          <div class="inner jumbotron guts">
            
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>All Dunks, All The Time &copy; 2015 <a href="http://github.com/chrisdevwords/247dunks">Chris Edwards</a>.</p>
            </div>
          </div>

        </div>
</script>

<script type="text/template" id="gifTemplate">
    <h1 class="cover-heading"><%- obj.header %></h1>
    <img id="dunkGif" src="<%- obj.dunk.link %>" alt="<%- obj.dunk.title %>"/>
    <p class="lead"><%- obj.dunk.title %></p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-default" id="newDunk">Another Dunk?</a>
    </p>
</script>

<script type="text/template" id="videoTemplate">
    <h1 class="cover-heading"><%- obj.header %></h1>
    <video id="dunkVideo" alt="<%- obj.dunk.title %>" class="video-js" poster="<%- obj.dunk.link %>">
      <source src="<%- obj.dunk.gifv %>" type='video/gifv'>
      <source src="<%- obj.dunk.mp4 %>" type='video/mp4'>
      <source src="<%- obj.dunk.webm %>" type='video/webm'>
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>

    <p class="lead"><%- obj.dunk.title %></p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-default" id="newDunk">Another Dunk?</a>
    </p>
</script>

<script type="text/template" id="navTemplate">
    <div class="inner">
        <h3 class="masthead-brand"><%- obj.header %></h3>
        <nav>
            <ul class="nav masthead-nav">
                <li class="active"><a href="#">All Dunks</a></li>
                <li><a href="#">Tubes</a></li>
            <li><a href="#">Gifs</a></li>
            </ul>
        </nav>
    </div>
</script>