
<script type="text/template" id="imgurGif">
    <img id="dunkGif" src="<%- obj.link %>" alt="<%- obj.title %>" class="dunk-gif"/>
</script>

<script type="text/template" id="imgurVideoSrc">
    <source src="<%- obj.gifv %>" type='video/gifv'>
    <source src="<%- obj.mp4 %>" type='video/mp4'>
    <source src="<%- obj.webm %>" type='video/webm'>
</script>

<script type="text/template" id="videoControls">
    <ul class="controls-left controls"></ul>
    <ul class="controls-center controls"></ul>
    <ul class="controls-right controls">
        <li class="control-btn full-screen-close-btn full-screen-toggle">
            <i class="fa fa-compress"></i>
        </li>
        <li class="control-btn full-screen-btn full-screen-toggle">
            <i class="fa fa-expand"></i>
        </li>
    </ul>

</script>

<script type="text/template" id="gifControls">

</script>
