$title-color: #12cc12;
$text-color: #cc1299;
$bg-color: #efefef;

body {
    color: $title-color;
    background-color: $bg-color;
    text-align: center;
}

p {
    color: $text-color;
}

a {
    color: $title-color;
}

#dunkGif, #dunkVideo {
    width: 100%;
    max-width: 500px;
    cursor: pointer;
}