@import "normalize";
@import "mixins";

$orange: #cc6636;
$purple: #aaccef;
$grey: #363646;
$black: #002;

$break: 768px;

html {
    background-color: $black;
}

body {
     /* global styles */
    color: $purple;
    background-color: $black;
    font-size: 0;
    /* mobile styles */

    @media (min-width:$break) {
        /* desktop styles */
    }
}   

p {
    font-size: 12px;
    color: $purple;
}

a, a:link, a:hover, a:visited, a:active {
    color: $orange;
    text-decoration: none;
}

.main {
    /* global styles */

    /* mobile styles */
    @media (min-width:$break) {
        /* desktop styles */
    }
}


.main-header {
    /* global styles */
    width: 100%;
    //background-color: $grey;
    margin-bottom: 0;
    z-index: 1;
    position: fixed;
    //box-shadow: 0px 4px 4px #000;
    /* mobile styles */
    @media (min-width:$break) {
        /* desktop styles */
    }
    h1 {
        /* global styles */
        font-size: 36px;
        color: $orange;
        text-transform: uppercase;
        font-family: 'Black Ops One', cursive;
        margin: 0;
        padding: 6px 12px;
        /* mobile styles */
        text-shadow: 2px 2px $grey;

        @media (min-width:$break) {
            /* desktop styles */
            font-size: 48px;

        }
        > span {
            font-family: 'Paytone One', sans-serif;
        }
        > em {
            font-style: normal;
        }
        > small {
            font-family: 'Paytone One', sans-serif;
            font-size: .7em;
            color: $purple;
            text-transform: lowercase;
            text-shadow: none;
        }
    }
}

.top-nav {
    /* global styles */
    /* mobile styles */
    @media (min-width:$break) {
        /* desktop styles */
    }
}

.bottom-nav {
    /* global styles */
    width: 100%;
    position: relative;
    margin: 0 auto;
    opacity:.25;
    display: table;
    @include simple-transition(opacity, .25s, ease-in);
    /* mobile styles */
    @media (min-width:$break) {
        /* desktop styles */
        max-width: 600px;
    }

    &:hover {
        opacity: 1;
    }
}


.controls {
    $iconSize: 36px;
    /* global styles */
    font-size: $iconSize;
    display:table-cell;
    vertical-align: middle;
    /* mobile styles */
    @media (min-width:$break) {
        /* desktop styles */
    }
}

.controls-left {
    width: 33%;
    text-align: center;
}
.controls-center {
    width: 33%;
    text-align: center;
}
.controls-right {
    width: 33%;
    text-align: right;
}

.control-btn {
    width: auto;
    display: inline-block;
    position: relative;
    color: $purple;
    cursor: pointer;
    margin-right: .5em;
    &:hover {
        color: $orange;
    }
}


.full-screen-toggle {
    /* global styles */
    /* mobile styles */
    display: none;
    @media (min-width:$break) {
        /* desktop styles */
        display: inline-block;
    }
}

.full-screen {
    .full-screen-btn {
        display: none;
    }
    .full-screen-close-btn {
        /* mobile styles */
        display: none;
        @media (min-width:$break) {
            /* desktop styles */
            display: inline-block;
        }
    }
    .bottom-nav {
        @media (min-width:$break) {
            /* desktop styles */
            position: absolute;
            max-width: none;
        }
    }

}

.full-screen-close-btn {
    @media (min-width: $break) {
        display: none;
    }
}

.content {
    /* global styles */
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
    display: table;
    z-index: 0;
    /* mobile styles */
    @media (min-width:$break) {
        /* desktop styles */
    }

}

.content-wrap {
    /* global styles */
    width: 100%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /* mobile styles */
    @media (min-width:$break) {
        /* desktop styles */
    }
}

.gif-wrap {
    width: 100%;
    text-align: center;
}

#dunkGif {
    width: 100%;
}

#dunkGif, #dunkVideo {
    cursor: pointer;
}

#dunkGif {
}

#dunkVideo {
    /* global styles */
    background-image: url(http://i.imgur.com/CmK0jcX.gif);
    background-size: cover;
    margin: auto;
    /* mobile styles */
    width: 100%;
    @media (min-width:$break) {
        /* desktop styles */
        width: auto;
        min-width: 600px;

    }
}
.full-screen {
    #dunkVideo {
        width: 100%;
    }
    .portrait #dunkVideo {
        width: auto;
        height: 100%;
    }

}

#youtubeWrap {
    height: 100%;
}
#ytPlayer {
    height: 100%;
}

#youtubeWrap > .new-dunk-btn {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5% 10%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 100px;
    text-align: center;
    z-index: 9999;
    color: $purple;
    opacity: 0;
    @include simple-transition(opacity, .25s, ease-in);
    &:hover{
        opacity: .5;
    }
    .fa {
      margin: 0 auto;
    }
    >span {
      display: block;
      white-space: nowrap;
      font-size: .2em;
      font-family: 'Paytone One', sans-serif;
      position: relative;
      margin: -.25em auto;

    }
    @media (min-width: 360px) {
      /* desktop styles */
      font-size: 200px;
    }
}


.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}